{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-between gap-2 mb-2">
  <a class="btn btn-secondary" href="{% url 'reviews:index' %}">뒤로가기</a>
  {% if review.user == request.user %}
  <div class="d-flex gap-2">
    <a class="btn btn-secondary" href="{% url 'reviews:update' review.pk %}">수정</a>
    <form action="{% url 'reviews:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="삭제">
    </form>
  </div>
  {% endif %}
</div>

<div class="border rounded-3 p-3 mb-5">
  <div>
    <span class="fs-2">{{ review.pk }} - </span>
    <span class="fs-2 fw-bold">{{ review.title }}</span>
  </div>
  <div>
    <span class="text-secondary">{{ review.user }}</span>
  </div>
  <hr>
  <div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-2 position-relative">
        {% if review.image %}
          <div id="rating" class="rating position-absolute top-0 end-0 fs-3 p-2 rounded-2 text-white fw-bold text-center text-nowrap" style="width: 30%;">{{ review.rating }}</div>
          <img src="{{ review.image_thumbnail.url }}" class="img-fluid rounded-start" alt="...">
        {% else %}
          <div id="rating" class="rating position-absolute top-0 end-0 fs-3 p-2 rounded-2 text-white fw-bold text-center text-nowrap" style="width: 30%;">{{ review.rating }}</div>
          <img src="{% static 'img/film.png' %}" class="img-fluid rounded-start" alt="">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ review.movie }}</h5>
          <p class="card-text">{{ review.content }}</p>
          <p class="card-text"><small class="text-body-secondary">#{{ review.genre }}</small></p>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>댓글 목록 {{ comments|length }}</h3>

{% for comment in  comments%}
  <div class="d-flex align-items-center">
    <div class="border-bottom py-2 w-100 d-flex align-items-center">
      {{ comment.user }} - {{ comment.content }}
      <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <button class="border-0 bg-transparent text-danger" type="submit">X</button>
      </form>
    </div>
  </div>
{% empty %}
<div class="fs-1 text-center">
  <i class="bi bi-chat-dots"></i>
</div>
{% endfor %}

<form action=" {% url 'reviews:comment_create' review.pk %} " method="POST">
  {% csrf_token %}
  <div class="input-group my-3">
    {% for field in comment_form %}
    {{ field }}
    {% endfor %}
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">댓글작성</button>
  </div>
</form>
{% endblock content %}