{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="text-end">
  <a href="{% url 'reviews:create' %}" style="color: blue;">
    <i class="bi bi-file-earmark-plus fs-1"></i>
  </a>
</div>

<div class="row row-cols-2 row-cols-md-6 g-4">
  {% for review in reviews %}
    <div class="col">
      <div class="card position-relative">
        {% if review.image %}
          <div id="rating" class="position-absolute top-0 end-0 fs-3 p-2 rounded-2 text-white fw-bold text-center text-nowrap" style="width: 35%;">{{ review.rating }}</div>
          <img src="{{ review.image_thumbnail.url }}" class="card-img-top" alt="...">
        {% else %}
          <div id="rating" class="position-absolute top-0 end-0 fs-3 p-2 rounded-2 text-white fw-bold text-center text-nowrap" style="width: 35%;">{{ review.rating }}</div>
          <img src="{% static 'img/film.png' %}" alt="">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title fw-bold text-truncate"><a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a></h5>
          <p class="card-text"> {{ review.user }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock content %}




