{% extends 'base.html' %}
{% block content %}
<h1>Index</h1>
{{ user }}
<a class="btn" href="{% url 'accounts:signup' %}">회원가입</a>
<a class="btn btn-primary" href="{% url 'accounts:login' %}">로그인</a>
<form action="{% url 'accounts:logout' %}" method="POST">
  {% csrf_token %}
  <input class="btn btn-danger" type="submit" value="로그아웃">
</form>
<a class="btn btn-outline-primary" href="{% url 'reviews:create' %}">리뷰작성</a>
{% for review in reviews %}
  <ul>
    <li>
      <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>(작성자: {{ review.user }})
    </li>
    <hr>
  </ul>
{% endfor %}
{% endblock content %}